@model StoreDto
@{
    ViewData["Title"] = "Add Store";
}


<div class="container mt-3">
  <h2>Add Store</h2>
  <form asp-controller="Store" asp-action="Create" method="post">
    <div class="mb-3 mt-3">
      <label class="fw-bold" asp-for="Name"></label>
      <input asp-for="Name" id="name" onblur="handleFocusLoss()"  class="form-control"  placeholder="Enter Store Name">
      <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
      <label asp-for="Address">Address:</label>
      <input asp-for="Address" class="form-control" placeholder="Enter Store Address">
      <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back</a>
  </form>
</div>

@section Scripts{
    <script>
             function handleFocusLoss() {
                      let name = document.getElementById("name").value;
                          $.ajax({
                            url: "/Item/GetItems",
                            data: { "Id": Id }, 
                            success: function(result) {
                            let inputField = document.getElementById("inputQuantity");
                            let inputPrice = document.getElementById("price");
                            inputField.value = result.quantity;
                            inputPrice.value = result.price;

                       }
                       });
                 }
    </script>
           
        <partial name="_ValidationScriptsPartial" />
}
