@model StoreDto

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Store Information</h2>

<div class="container mt-3">
  <h2>Add Store</h2>
  <form asp-controller="Store" asp-action="Edit" method="put">
    <div class="mb-3 mt-3">
      <label class="fw-bold" asp-for="Name"></label>
      <input asp-for="Name" class="form-control" value="@Model.Name;" placeholder="Enter Store Name">
      <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
      <label asp-for="Address">Address:</label>
      <input asp-for="Address" class="form-control" value="@Model.Address" placeholder="Enter Store Address">
      <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back</a>
  </form>
</div>

@section Scripts{
            <partial name="_ValidationScriptsPartial" />
}